@import "tailwindcss";
    
   
    @theme {  
    --color-card: oklch(97.7% 0.017 320.058);
    --color-card-foreground: oklch(90.3% 0.076 319.62);
   --shadow-card: 0 4px 20px -4px hsl(220 25% 12% / 0.08);
  --color-primary: oklch(20.8% 0.042 265.755);
  --color-pink: oklch(71.2% 0.194 13.428);
  --color-primary-foreground: oklch(97.7% 0.017 320.058);
--color-border: oklch(86.9% 0.022 252.894);
    --color-input: 40 15% 88%;
    --color-ring: 220 25% 12%;
   /* #b8d */
}